{% block sw_order_list_grid_columns %}
    {% parent() %}

    <template slot="column-comment" slot-scope="{ item }">
        <div class="nextag-checkout--list-icon">
            <sw-icon
                v-if="item.extensions.nextagCheckoutContentCheckout && item.extensions.nextagCheckoutContentCheckout.comment"
                name='default-communication-speech-bubbles'
                v-tooltip="{ message: item.extensions.nextagCheckoutContentCheckout.comment }"
            ></sw-icon>
            <span v-else></span>
        </div>           
    </template>    
    <template slot="column-commission" slot-scope="{ item }">
        <div class="nextag-checkout--list-icon">
            <span v-if="item.extensions.nextagCheckoutContentCheckout && item.extensions.nextagCheckoutContentCheckout.commission">{{ item.extensions.nextagCheckoutContentCheckout.commission }}</span>
            <span v-else></span>
        </div>           
    </template>  
    <template slot="column-deliverydate" slot-scope="{ item }">
        <div class="nextag-checkout--list-icon">
            <span v-if="item.extensions.nextagCheckoutContentCheckout && item.extensions.nextagCheckoutContentCheckout.deliverydate">{{ item.extensions.nextagCheckoutContentCheckout.deliverydate }}</span>
            <span v-else></span>
        </div>           
    </template>  
{% endblock %}
