{% block nextag_checkout_additionalfields %}
	<div class="next-checkout-block">
        <div id="nextagCheckout"></div>
    </div>
	<script src="/js/nextag-checkout.js"></script>
 	<script>
		(function () {
			"use strict";
			let lang = '{{ app.request.locale }}'
			let form = `{% embed "storefront/page/checkout/templates/additionalcheckoutfields.html.twig" %} {% endembed %}`
			var vm = new NextCheckout.ViewModel.MainObject({
				delimiters: ['[[',']]'],
				template: form,
				components: {}
			});

			let debug = null
			{% if shopware.config.NextagCustomerportal.config.debug==1 %}
				vm.config.debug = "XDEBUG_SESSION_START=PHPSTORM"
			{%  endif %}
			let config = {
				baseUrl: "{{app.request.server.get('APP_URL')}}",
				language: lang,
				languageShort: lang.split("-")[0],
				debug: debug,
			}        
			vm.config = config
			let data = {
				"test": "test"			
			};
			vm.data = data
			vm.$mount('#nextagCheckout')
		})();
	</script>

{% endblock %}
