<div class="card">
	<div class="card-body">			
		{% block nextag_checkout_additionalfields_title %}
			<div class="card-title">
				{{ "checkout.orderdetails"|trans|sw_sanitize }}
			</div>
		{% endblock %}
		<div class="form-group">
			<label for="next_checkout_comment">{{ "checkout.commentTitle"|trans }}</label>
			<textarea id="next_checkout_comment" name="next_checkout_comment" v-model="comment"  class="form-control"></textarea>
		</div>
		<div class="form-group">
			<label for="next_checkout_commission">{{ "checkout.commissionTitle"|trans }}</label>
			<input type="text" maxlength="255" id="next_checkout_commission" v-model="commission"  name="next_checkout_commission" class="form-control">
		</div>
		<div class="form-group">			
			<template>
				<div>
					<date-picker id="next_checkout_deliverydate" v-model="deliverydate" :disabled-date="(date) => date <= disabledBefore || date >= disabledAfter" placeholder="{{'checkout.liefertermin'|trans}}" format="DD.MM.YYYY" :lang="config.languageShort" valueType="format"></date-picker>					
				</div>
			</template>			
		</div>
{#		<div class="form-group">#}
{#			<p>[TODO: TEILLIEFERUNG FALLS UNTERSCHIEDLICHE LIEFERTERMINE]</p>#}
{#		</div>#}
{#		<div class="form-group">#}
{#			<p>[TODO: QR-Code oder ID generieren und versenden für Abholer]</p>#}
{#		</div>#}
	</div>
</div>

